{% extends "base.html" %}
{% block content %}
<div class="container visual-page">
    <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="item">
            <div class="visual">
            <h2 class="text-visual">Distribusi Fitur</h2>
            <img src="/img/distribution_features.png" alt="Distribusi Fitur" class="img-visual">
            </div>
        </div>
        <div class="item">
            <div class="visual">
                <h2 class="text-visual">Heatmap Korelasi</h2>
                <img src="/img/heatmap_correlation.png" alt="Heatmap Korelasi" class="img-visual">
            </div>
        </div>
        <div class="item">
            <div class="visual">
            <h2 class="text-visual">Feature Importance</h2>
            <img src="/img/feature_importance.png" alt="Feature Importance" class="img-visual">
            </div>
        </div>
         <div class="item">
            <div class="visual">
            <h2 class="text-visual">Confusion Matrix</h2>
            <img src="/img/confusion_matrix.png" alt="Confusion Matrix" class="img-visual">
            </div>
        </div>
    </div>
</div>
{% endblock %}